.advantages {
  .reset-indents;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;

    .advantages__item {
      max-width: 256px;
    }
  }

  @media (min-width: @desktop-width) {
    .advantages__item {
      max-width: 400px;
    }
  }
}

.advantages__title,
.advantages__description {
  .reset-indents;
}

.advantages__title {
  .title-font;
}
