.feedback-form fieldset {
  border: none;
  .reset-indents;
}

.feedback-form__main-list,
.feedback-form__list {
  .reset-indents;
}

.feedback-form__main-list-item {
  border-top: 1px solid @border;
  padding: 18px 20px;
  padding-bottom: 15px;
}

.feedback-form__main-list-item--button {
  border-top: none;
  padding: 30px 19px;
  padding-bottom: 15px;
}

.feedback-form legend {
  text-align: center;
  margin-bottom: 11px;
  .title-font;
}

.feedback-form__introduce-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  padding-bottom: 11px;
}

.feedback-form__introduce-item label {
  padding-right: 14px;
}

.feedback-form__introduce-input {
  box-sizing: border-box;
  border: none;
  width: 100%;
  background-color: @bgc-desktop;
  padding: 15px 23px;
  padding-bottom: 16px;
  .title-font;
}

.feedback-form__introduce-input::placeholder {
  color: @black;
}

.feedback-form__contacts-item {
  margin-bottom: 12px;
}

.feedback-form__contacts-input {
  box-sizing: border-box;
  border: none;
  width: 100%;
  background-color: @bgc-desktop;
  padding: 15px 23px;
  padding-bottom: 16px;
  .title-font;
}

.feedback-form__contacts-input::placeholder {
  color: @black;
}

.feedback-form__impression-input,
.feedback-form__attractions-input {
  display: none;
}

.feedback-form__emotions {
  .reset-indents;
  box-sizing: border-box;
  resize: none;
  border: none;
  background-color: @bgc-desktop;
  width: 100%;
  height: 160px;
  padding: 15px 20px;
}

.feedback-form__emotions::placeholder {
  .title-font;
}

.feedback-form__submit-button {
  border: none;
  .reset-indents;
  .custom-font;
  background-color: @bgc-blue;
  color: @white;
  text-transform: uppercase;
  padding: 15px;
  width: 100%;
}

.feedback-form__impression-item label,
.feedback-form__attractions-item label {
  display: block;
  padding: 22px;
  padding-left: 78px;
  padding-right: 5px;
  .title-font;
  text-transform: none;
}

.feedback-form__attractions-item {
  margin-bottom: 10px;
}

.feedback-form__attractions-item:nth-last-child(1) {
  margin-bottom: 0;
}

.feedback-form__main-list-item:nth-child(2) legend {
  margin-bottom: 20px;
}

.feedback-form__main-list-item:nth-child(3) legend {
  margin-bottom: 14px;
}

.feedback-form__main-list-item:nth-child(4) legend {
  margin-bottom: 8px;
}

.feedback-form__main-list-item:nth-child(5) legend {
  margin-bottom: 17px;
}

.feedback-form__main-list-item:nth-child(3) {
  padding-bottom: 21px;
}

.feedback-form__main-list-item:nth-child(4) {
  padding-bottom: 20px;
}

.feedback-form__contacts-item label {
  display: block;
  padding: 0 21px;
  margin-bottom: 10px;
}
