.feedback-form fieldset {
  border: none;
  .reset-indents;
}

<<<<<<< HEAD
.feedback-form__main-list,
.feedback-form__list {
  .reset-indents;
}

.feedback-form__main-list-item {
  border-top: 1px solid @border;
  padding: 18px 20px;
  padding-bottom: 15px;
}

.feedback-form__main-list-item--required-fields {
  display: none;
}

.feedback-form__main-list-item--button {
=======
.feedback-form__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.feedback-form__list {
  .reset-indents;
  display: flex;
  flex-wrap: wrap;
}

.feedback-form__item {
  border-top: 1px solid @border;
  padding: 18px 20px;
  padding-bottom: 15px;
  width: 100%;
}

.feedback-form__item--required-fields {
  display: none;
}

.feedback-form__item--button {
>>>>>>> e3a2df5c83ab2a0443ea63d6b7fbe41d718b4729
  border-top: none;
  padding: 30px 19px;
  padding-right: 21px;
  padding-bottom: 15px;
}

.feedback-form legend {
  text-align: center;
  margin-bottom: 11px;
  .title-font;
}

.feedback-form__introduce-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  padding-bottom: 11px;
<<<<<<< HEAD
=======
  width: 100%;
>>>>>>> e3a2df5c83ab2a0443ea63d6b7fbe41d718b4729
}

.feedback-form__introduce-item label {
  padding-right: 14px;
}

.feedback-form__introduce-input {
  box-sizing: border-box;
  border: none;
  width: 100%;
  background-color: @bgc-desktop;
  padding: 15px 23px;
  padding-bottom: 16px;
  .title-font;
}

.feedback-form__introduce-input::placeholder {
  color: @black;
}

.feedback-form__contacts-item {
  margin-bottom: 12px;
<<<<<<< HEAD
=======
  width: 100%;
  display: flex;
  flex-wrap: wrap;
>>>>>>> e3a2df5c83ab2a0443ea63d6b7fbe41d718b4729
}

.feedback-form__contacts-input {
  box-sizing: border-box;
  border: none;
  width: 100%;
  background-color: @bgc-desktop;
  padding: 15px 23px;
  padding-bottom: 16px;
  .title-font;
}

.feedback-form__contacts-input::placeholder {
  color: @black;
}

.feedback-form__impression-input,
.feedback-form__attractions-input {
  display: none;
}

.feedback-form__emotions {
  .reset-indents;
<<<<<<< HEAD
=======
  .title-font;
>>>>>>> e3a2df5c83ab2a0443ea63d6b7fbe41d718b4729
  box-sizing: border-box;
  resize: none;
  border: none;
  background-color: @bgc-desktop;
  width: 100%;
  height: 160px;
  padding: 15px 20px;
}

.feedback-form__emotions::placeholder {
  .title-font;
}

.feedback-form__submit-button {
  border: none;
  .reset-indents;
  .custom-font;
  background-color: @bgc-blue;
  color: @white;
  text-transform: uppercase;
  padding: 15px;
  width: 100%;
}

<<<<<<< HEAD
=======
.feedback-form__impression-item {
  display: flex;
  flex-wrap: wrap;
}

>>>>>>> e3a2df5c83ab2a0443ea63d6b7fbe41d718b4729
.feedback-form__impression-item label,
.feedback-form__attractions-item label {
  display: block;
  padding: 22px;
  padding-left: 78px;
  padding-right: 5px;
  .title-font;
  text-transform: none;
}

.feedback-form__attractions-item {
  margin-bottom: 10px;
<<<<<<< HEAD
=======
  display: flex;
  flex-wrap: wrap;
>>>>>>> e3a2df5c83ab2a0443ea63d6b7fbe41d718b4729
}

.feedback-form__attractions-item:nth-last-child(1) {
  margin-bottom: 0;
}

<<<<<<< HEAD
.feedback-form__main-list-item:nth-child(2) legend {
  margin-bottom: 20px;
}

.feedback-form__main-list-item:nth-child(3) legend {
  margin-bottom: 14px;
}

.feedback-form__main-list-item:nth-child(4) legend {
  margin-bottom: 8px;
}

.feedback-form__main-list-item:nth-child(5) legend {
  margin-bottom: 17px;
}

.feedback-form__main-list-item:nth-child(3) {
  padding-bottom: 21px;
}

.feedback-form__main-list-item:nth-child(4) {
=======
.feedback-form__item:nth-child(2) legend {
  margin-bottom: 20px;
}

.feedback-form__item:nth-child(3) legend {
  margin-bottom: 14px;
}

.feedback-form__item:nth-child(4) legend {
  margin-bottom: 8px;
}

.feedback-form__item:nth-child(5) legend {
  margin-bottom: 17px;
}

.feedback-form__item:nth-child(3) {
  padding-bottom: 21px;
}

.feedback-form__item:nth-child(4) {
>>>>>>> e3a2df5c83ab2a0443ea63d6b7fbe41d718b4729
  padding-bottom: 20px;
}

.feedback-form__contacts-item label {
  display: block;
  padding: 0 21px;
  margin-bottom: 10px;
}

@media (min-width: @tablet-width) {
<<<<<<< HEAD
  .feedback-form__main-list {
    display: flex;
    flex-wrap: wrap;
  }

  .feedback-form__main-list-item {
=======
  .feedback-form__item {
>>>>>>> e3a2df5c83ab2a0443ea63d6b7fbe41d718b4729
    border: none;
    box-sizing: border-box;
    padding: 23px 60px;
    padding-bottom: 16px;
  }

  .feedback-form legend {
    .custom-font;
  }

  .feedback-form__contacts-item label {
    display: block;
    padding: 0 22px;
    margin-bottom: 9px;
  }

  .feedback-form__contacts-input {
    padding-left: 22px;
  }

  .feedback-form__contacts-item {
    margin-bottom: 24px;
  }

  .feedback-form__list--attractions {
<<<<<<< HEAD
    display: flex;
    flex-wrap: wrap;
=======
>>>>>>> e3a2df5c83ab2a0443ea63d6b7fbe41d718b4729
    padding: 25px 96px;
    padding-right: 30px;
  }

  .feedback-form__attractions-item {
    width: 50%;
    margin-bottom: 19px;
  }

<<<<<<< HEAD
  .feedback-form__main-list-item--required-fields {
=======
  .feedback-form__item--required-fields {
>>>>>>> e3a2df5c83ab2a0443ea63d6b7fbe41d718b4729
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

<<<<<<< HEAD
  .feedback-form__main-list-item--required-fields,
  .feedback-form__main-list-item--button {
    padding: 34px 60px;
  }

  .feedback-form__main-list-item--button {
=======
  .feedback-form__item--required-fields,
  .feedback-form__item--button {
    padding: 34px 60px;
  }

  .feedback-form__item--button {
>>>>>>> e3a2df5c83ab2a0443ea63d6b7fbe41d718b4729
    width: 50%;
    padding-right: 0;
  }

  .feedback-form__submit-button {
    padding: 16px 15px;
  }

  .feedback-form__required-fields {
    .reset-indents;
  }

<<<<<<< HEAD
  .feedback-form__main-list-item:nth-child(1) legend,
  .feedback-form__main-list-item:nth-child(3) legend {
=======
  .feedback-form__item:nth-child(1) legend,
  .feedback-form__item:nth-child(3) legend {
>>>>>>> e3a2df5c83ab2a0443ea63d6b7fbe41d718b4729
    text-align: left;
  }

  .feedback-form__impression-item {
    margin-bottom: 8px;
  }

<<<<<<< HEAD
  .feedback-form__main-list-item:nth-child(1) legend {
    margin-bottom: 49px;
  }

  .feedback-form__main-list-item:nth-child(2) legend {
    margin-bottom: 25px;
  }

  .feedback-form__main-list-item:nth-child(3) legend {
    margin-bottom: 51px;
  }

  .feedback-form__main-list-item:nth-child(4) legend {
=======
  .feedback-form__item:nth-child(1) legend {
    margin-bottom: 49px;
  }

  .feedback-form__item:nth-child(2) legend {
    margin-bottom: 25px;
  }

  .feedback-form__item:nth-child(3) legend {
    margin-bottom: 51px;
  }

  .feedback-form__item:nth-child(4) legend {
>>>>>>> e3a2df5c83ab2a0443ea63d6b7fbe41d718b4729
    padding: 0 125px;
    margin-bottom: 8px;
  }

<<<<<<< HEAD
  .feedback-form__main-list-item:nth-child(5) legend {
    margin-bottom: 58px;
  }

  .feedback-form__main-list-item:nth-child(1),
  .feedback-form__main-list-item:nth-child(3) {
    width: 50%;
  }

  .feedback-form__main-list-item:nth-child(2),
  .feedback-form__main-list-item:nth-child(4),
  .feedback-form__main-list-item:nth-child(5) {
=======
  .feedback-form__item:nth-child(5) legend {
    margin-bottom: 58px;
  }

  .feedback-form__item:nth-child(1),
  .feedback-form__item:nth-child(3) {
    width: 50%;
  }

  .feedback-form__item:nth-child(2),
  .feedback-form__item:nth-child(4),
  .feedback-form__item:nth-child(5) {
>>>>>>> e3a2df5c83ab2a0443ea63d6b7fbe41d718b4729
    width: 100%;
    padding-top: 34px;
  }

<<<<<<< HEAD
  .feedback-form__main-list-item:nth-child(2) {
    padding-top: 35px;
  }

  .feedback-form__main-list-item:nth-child(3) {
=======
  .feedback-form__item:nth-child(2) {
    padding-top: 35px;
  }

  .feedback-form__item:nth-child(3) {
>>>>>>> e3a2df5c83ab2a0443ea63d6b7fbe41d718b4729
    order: -1;
    padding-right: 50px;
  }

<<<<<<< HEAD
  .feedback-form__main-list-item:nth-child(4) {
=======
  .feedback-form__item:nth-child(4) {
>>>>>>> e3a2df5c83ab2a0443ea63d6b7fbe41d718b4729
    padding-top: 13px;
    padding-bottom: 10px;
  }

<<<<<<< HEAD
  .feedback-form__main-list-item:nth-child(5) {
=======
  .feedback-form__item:nth-child(5) {
>>>>>>> e3a2df5c83ab2a0443ea63d6b7fbe41d718b4729
    padding-top: 8px;
  }
}

@media (min-width: @desktop-width) {
<<<<<<< HEAD
  .feedback-form__main-list-item:nth-child(1) {
    padding-left: 80px;
  }

  .feedback-form__main-list-item:nth-child(2) {
    padding-top: 32px;
  }

  .feedback-form__main-list {
    padding: 0 60px;
  }

  .feedback-form__main-list-item:nth-child(2) legend {
    margin-bottom: 75px;
  }

  .feedback-form__main-list-item:nth-child(3) legend {
=======
  .feedback-form__item:nth-child(1) {
    padding-left: 80px;
  }

  .feedback-form__item:nth-child(2) {
    padding-top: 32px;
  }

  .feedback-form__wrapper {
    padding: 0 60px;
  }

  .feedback-form__item:nth-child(2) legend {
    margin-bottom: 75px;
  }

  .feedback-form__item:nth-child(3) legend {
>>>>>>> e3a2df5c83ab2a0443ea63d6b7fbe41d718b4729
    text-align: center;
  }

  .feedback-form__contacts-item {
    width: 50%;
    box-sizing: border-box;
<<<<<<< HEAD
    display: flex;
=======
>>>>>>> e3a2df5c83ab2a0443ea63d6b7fbe41d718b4729
  }

  .feedback-form__contacts-item label {
    padding: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }

<<<<<<< HEAD
=======
  .feedback-form__contacts-input {
    width: auto;
    padding: 15px 20px;
    flex-grow: 1;
  }

>>>>>>> e3a2df5c83ab2a0443ea63d6b7fbe41d718b4729
  .feedback-form__list--row {
    display: flex;
  }

  .feedback-form__list--attractions {
<<<<<<< HEAD
    display: flex;
    flex-wrap: wrap;
=======
>>>>>>> e3a2df5c83ab2a0443ea63d6b7fbe41d718b4729
    padding: 25px 10px;
    padding-right: 0;
  }

<<<<<<< HEAD
  .feedback-form__main-list-item--button {
=======
  .feedback-form__item--button {
>>>>>>> e3a2df5c83ab2a0443ea63d6b7fbe41d718b4729
    padding-top: 33px;
  }

  .feedback-form__attractions-item {
    width: 25%;
  }

  .feedback-form__attractions-item label {
    padding-left: 71px;
  }

  .feedback-form__attractions-item:nth-child(2) label {
    padding-left: 94px;
  }

  .feedback-form__attractions-item:nth-child(3) label {
    padding-left: 113px;
  }

  .feedback-form__attractions-item:nth-child(4) label {
    padding-left: 114px;
    padding-right: 2px;
  }

  .feedback-form__contacts-item:nth-child(1) {
    padding-right: 80px;
  }

  .feedback-form__contacts-item:nth-child(1) label {
<<<<<<< HEAD
    width: 112px;
  }

  .feedback-form__contacts-item:nth-child(2) label {
    width: 264px;
  }

  .feedback-form__main-list-item:nth-child(4) {
    padding-bottom: 8px;
  }

  .feedback-form__main-list-item:nth-child(4) legend {
=======
    width: 85px;
  }

  .feedback-form__contacts-item:nth-child(2) label {
    width: 164px;
  }

  .feedback-form__item:nth-child(4) {
    padding-bottom: 8px;
  }

  .feedback-form__item:nth-child(4) legend {
>>>>>>> e3a2df5c83ab2a0443ea63d6b7fbe41d718b4729
    padding: 0 300px;
    margin-bottom: 8px;
  }

<<<<<<< HEAD
  .feedback-form__main-list-item:nth-child(5) {
=======
  .feedback-form__item:nth-child(5) {
>>>>>>> e3a2df5c83ab2a0443ea63d6b7fbe41d718b4729
    padding-bottom: 18px;
  }

  .visually-hidden-form {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
