.page-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 30px;
}

.page-footer__visitsedona-link {
  .custom-font;
  margin: 0 auto;
  margin-bottom: 35px;
}

.social-list {
  .reset-indents;
  display: flex;
  margin: 0 auto;
  margin-bottom: 45px;
}

.social-list__item {
  margin-right: 7px;
}

.social-list__item:nth-child(3) {
  margin-right: 0;
}

.social-list__link {
  display: block;
  position: relative;
  padding: 24px 23px;
  background-color: @bgc-blue;
}

.developed-by {
  display: flex;
  margin: 0 auto;
}

.developed-by__text {
  color: @black;
  line-height: 26px;
  margin-right: 15px;
}

.developed-by__link::before {
  display: block;
  content: "";
  width: 27px;
  height: 34px;
  background-image: url("../img/htmlacademy.svg");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .page-footer {
    flex-direction: row;
    padding: 36px 59px;
    padding-left: 60px;
    justify-content: space-between;
  }

  .page-footer__visitsedona-link {
    .custom-font;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .social-list {
    margin: 0;
    padding-right: 6px;
  }

  .social-list__item {
    margin-right: 7px;
  }

  .developed-by {
    margin: 0;
    vertical-align: middle;
  }

  .developed-by__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    padding: 36px 120px;
    padding-right: 119px;
  }

  .social-list {
    padding-right: 7px;
  }

  .social-list__item {
    margin-right: 6px;
  }
}
