.page-footer__visitsedona-link {
  color: @black;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.social-list {
  .reset-ls;
}

.developed-by__text {
  color: @black;
  line-height: 26px;
}
