@media (min-width: @tablet-width) {
  .photo-title {
    background-color: @bgc-desktop;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .photo-title {
    background-color: rgba(242, 242, 242, 0.3);
  }
}
