.photo-sedona__title {
  .reset-indents;
  color: @black;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.photo-sedona__author {
  .reset-indents;
  text-transform: none;
}

.likes-counter__quantity {
  color: @black;
  font-weight: 700;
}

@media (min-width: @desktop-width) {
  .photo-list__item {
    position: relative;
  }

  .photo-sedona-description {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
