.reason {
  background-color: @bgc-gray;
}

.reason__title,
.reason__description {
  .reset-indents;
}

.reason__title {
  color: @black;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.reason--blue-background {
  background-color: @bgc-blue;
}

.reason__title--blue-background,
.reason__number--blue-background,
.reason__description--blue-background {
  color: @white;
}
