.reason-with-picture__image {
  display: block;
  width: 320px;
  min-height: 260px;
}

.reason-with-picture__image--main-city {
  background-image: url("../img/main-city-mobile@1x.jpg");
  background-repeat: no-repeat;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/main-city-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.reason-with-picture__image--main-bridge {
  background-image: url("../img/main-bridge-mobile@1x.jpg");
  background-repeat: no-repeat;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/main-bridge-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

@media (min-width: @tablet-width) {
  .reason-with-picture {
    display: flex;
    flex-wrap: wrap;
  }

  .reason-with-picture__image {
    width: 512px;
    max-width: 512px;
    min-height: 256px;
  }

  .reason-with-picture__image--main-city {
    background-image: url("../img/main-city-tablet@1x.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/main-city-tablet@2x.jpg");
    }
  }

  .reason-with-picture__image--main-bridge {
    background-image: url("../img/main-bridge-tablet@1x.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/main-bridge-tablet@2x.jpg");
    }
  }

  .reason--custom-order {
    order: 2;
  }
}

@media (min-width: @desktop-width) {
  .reason-with-picture__image {
    width: 800px;
    max-width: 800px;
  }

  .reason-with-picture__image--main-city {
    background-image: url("../img/main-city-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 50%;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/main-city-desktop@2x.jpg");
    }
  }

  .reason-with-picture__image--main-bridge {
    background-image: url("../img/main-bridge-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 53%;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/main-bridge-desktop@2x.jpg");
    }
  }
}
