.short-description__about-sedona {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  .reset-indents;
}

.short-description__reasons {
  line-height: 26px;
  .reset-indents;
}
