@bgc-desktop: #f2f2f2;
@bgc-blue: #81b3d2;
@border: #e5e5e5;
@black: #000000;
@bgc-gray: #eeeeee;
@button-down: #d5d5d5;
@button-tick-down: #a4a4a4;
@desktop-width: 1200px;
@fc-main: #333333;
@form-contacts: #e6e6e6;
@form-line: #dbdbdb;
@menu-hover: #669ec0;
@menu-active: #5496bd;
@photo-title: #eaeaea;
@tablet-width: 768px;
@video-button: #5c6870;
@white: #ffffff;

.reset-indents {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title-font {
  color: @black;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.custom-font {
  color: @black;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.horizontal-centering {
  left: 50%;
  transform: translateX(-50%);
}
