@bgc-blue: #81b3d2;
@bgc-gray: #eeeeee;
@fc-main: #333333;
@white: #ffffff;
@black: #000000;

.reset-ls {
  list-style: none;
  margin: 0;
  padding: 0;
}

.reset-indents {
  margin: 0;
  padding: 0;
}
